{% extends 'admin/base.html' %}
{% load static %}
{% block title %}
Edit Product
{% endblock %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'admin/css/products.css' %}" />

{% endblock %} {% block content %}

<div class="page-header">
  <div>
    <h3>Edit Product</h3>

    <p>Update product information</p>
  </div>

  <a href="{% url 'book_lists' %}" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i>
    Back
  </a>
</div>

<div class="card shadow-sm">
  <div class="card-header">
    <h5>Product Information</h5>
  </div>

  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row g-4">
        <!-- Book Cover -->

        <div class="col-md-6">
          <label class="form-label"> Product Image </label>

          <input type="file" name="cover" class="form-control" accept="image/*" />
        </div>

        <!-- Book Title -->

        <div class="col-md-6">
          <label class="form-label"> Product Title </label>

          <input
            type="text"
            name="title"
            value="{{ book.title }}"
            class="form-control"
            placeholder="Enter product title" required
            />
        </div>

        <!-- Author -->

        <div class="col-md-6">
          <label class="form-label"> Author </label>

          <input
            type="text"
            name="author"
            value="{{ book.author }}"
            class="form-control"
            placeholder="Enter author name" required
          />
        </div>

        <!-- Category -->

        <div class="col-md-6">
          <label class="form-label"> Category </label>

          <select name="category" class="form-select" required>
            <option value="" selected disabled>Select Category</option>

            {% for category in categories %}

            <option value="{{ category.id }}" {% if book.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>

            {% empty %}

            <option value="" disabled>No categories available</option>

            {% endfor %}
          </select>
        </div>

        <!-- ISBN -->

        <div class="col-md-6">
          <label class="form-label"> ISBN </label>

          <input
            type="text"
            name="isbn"
            class="form-control"
            value="{{ book.isbn }}"
            placeholder="Enter ISBN"
          />
        </div>

        <!-- Publisher -->

        <div class="col-md-6">
          <label class="form-label"> Publisher </label>

          <input
            type="text"
            name="publisher"
            value="{{ book.publisher }}"
            class="form-control"
            placeholder="Enter publisher"
          />
        </div>

        <!-- Published Date -->

        <div class="col-md-6">
          <label class="form-label"> Published Date </label>

          <input type="date"
            name="publisher_date"
            value="{{ book.published_date|date:'Y-m-d' }}" 
            class="form-control" />
        </div>

        <!-- Language -->

        <div class="col-md-6">
          <label class="form-label"> Language </label>

          <select name="language" class="form-select">
            <option selected>Select Language</option>

            <option value="Myanmar"{% if book.language == "Myanmar" %}selected{% endif %}>Myanmar</option>

            <option value="English"{% if book.language == "English" %}selected{% endif %}>English</option>

            <option>Other</option>
          </select>
        </div>

        <!-- Format -->

        <div class="col-md-6">
          <label class="form-label"> Format </label>

          <select name="format" class="form-select">
            <option selected>Select Format</option>

            <option value="Paperback"{% if book.format == "Paperback" %}selected{% endif %}>Paperback</option>

            <option value="Hardcover"{% if book.format == "Hardcover" %}selected{% endif %}>Hardcover</option>

            <option value="EPUB"{% if book.format == "EPUB" %}selected{% endif %}>EPUB</option>

            <option value="PDF"{% if book.format == "PDF" %}selected{% endif %}>PDF</option>
          </select>
        </div>

        <!-- Price -->

        <div class="col-md-6">
          <label class="form-label"> Price </label>

          <input
            type="number"
            name="price"
            value="{{ book.price }}"
            class="form-control"
            placeholder="Enter price" required
            step="1" min="0"
          />
        </div>

        <!-- Stock -->

        <div class="col-md-6">
          <label class="form-label"> Stock </label>

          <input
            type="number"
            name="stock"
            value="{{ book.stock }}"
            class="form-control"
            placeholder="Enter stock quantity" required
          />
        </div>

        <!-- Status -->

        <div class="col-md-6">
          <label class="form-label"> Status </label>

          <select name="status" class="form-select">
            <option value="active"{% if book.status == "active" %}selected{% endif %}>Active</option>

            <option value="inactive"{% if book.status == "inactive" %}selected{% endif %}>Inactive</option>
          </select>
        </div>

        <!-- Home section -->
        <div class="form-group">
          <label class="form-label"> Home Page </label>

          <div>
            <label>
              <input type="checkbox" name="show_on_home" {% if book.show_on_home %}checked{% endif %}/>

              Show this book on Home Page
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label"> Home Section </label>

          <select name="home_section" class="form-select">
            <option value="none"{% if book.home_section == "none" %}selected{% endif %}>None</option>

            <option value="featured"{% if book.home_section == "featured" %}selected{% endif %}>Featured</option>

            <option value="best_seller"{% if book.home_section == "best_seller" %}selected{% endif %}>Best Seller</option>

            <option value="new_arrival"{% if book.home_section == "new_arrival" %}selected{% endif %}>New Arrival</option>
          </select>
        </div>
        <!-- Description -->

        <div class="col-12">
          <label class="form-label"> Description </label>

          <textarea
            class="form-control"
            name="description"
            rows="5"
            placeholder="Enter book description"
          >{{ book.description }}</textarea>
        </div>

        <div class="record-info">
          <h4>Record Information</h4>
          <div>
            <label class="form-label">Created At</label>
            <input type="text" class="form-control"
            value="{{ book.created_at|date:'d M Y, h:i A' }}"
            readonly>
          </div>

        <div>
          <label class="form-label">Last Updated</label>
          <input type="text" class="form-control"
            value="{{ book.updated_at|date:'d M Y, h:i A' }}"
            readonly>
          </div>
        </div>

        <!-- Buttons -->

        <div class="col-12">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i>
            Update Book
          </button>

          <a href="{% url 'book_lists' %}" class="btn btn-secondary"> Cancel </a>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
